.mid,
.light,
.dark {
  color: transparent !important;
  user-select: none;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.mid {
  background-color: hsl(0, 0%, 85%) !important;
}
li.li-mid::marker {
  color: hsl(0, 0%, 85%) !important;
}
.light {
  background-color: hsl(0, 0%, 90%) !important;
}
li.li-light::marker {
  color: hsl(0, 0%, 90%) !important;
}
.dark {
  background-color: hsl(0, 0%, 75%) !important;
}
li.li-dark::marker {
  color: hsl(0, 0%, 75%) !important;
}

@keyframes loading {
  0%   { opacity: 0.75; }
  25%  { opacity: 1; }
  50%  { opacity: 0.5; }
  75%  { opacity: 1; }
  100% { opacity: 0.75; }
}
